[submodule "riselib"]
	path = riselib
	url = https://gitee.com/rise0chen/riselib.git
	branch = master
[submodule "fiip-base"]
	path = fiip-base
	url = https://gitee.com/cnCrise/fiip-base.git
	branch = master
[submodule "fiip-protocol"]
	path = fiip-protocol
	url = https://gitee.com/cnCrise/fiip-protocol.git
	branch = master
[submodule "fiip-cloud"]
	path = fiip-cloud
	url = https://gitee.com/cnCrise/fiip-cloud.git
	branch = master
